:root{
  --backgroundColor: rgb(45, 45, 45);
  --menuBackgroundColor: rgba(0, 0, 0, 0.25);
  --textColor: rgb(131, 131, 131);
  --textCorrectColor: rgb(196, 196, 196);
  --textIncorrectColor: rgb(187, 21, 21);
  --textCorrectedColor: rgb(190, 110, 4);
  --primaryColor:rgb(34, 116, 34);
  --secondaryColor: rgb(46, 134, 38);
  background-color: var(--backgroundColor);
}

*{
  padding: 0px;
  margin: 0px;
}
p{
  /* background-color: black; */
  font-size: 16px;
  font-family:'Arial Narrow', Arial, sans-serif;
  color: var(--textColor);
  white-space-collapse: preserve-spaces;
}
.App{
  text-align: center;
}
.title{
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 15px;
  color: var(--textColor);
  /* border: solid 1px red; */

  justify-content: space-between;
}
#textBoxWrapper{
  display: flex;
  margin: auto;
  /* border: solid black 1px; */
  padding: 10px;
  /* grid-template-rows: auto 1fr; */
  /* max-width: 1000px; */
  letter-spacing: 2px;
}
#textBoxWrapper p{
  font-size: 30px;
}
#gameWrapper{
  /* place-items: center; */
  display: flex;
  margin: auto;
  flex-direction: column;
  /* border: red 1px solid; */
  height: 700px;
  width: 1000px;
  aspect-ratio: 16/13;
}
#statBarAreaWrapper{
  height: 50px;
  display: grid;
  align-items: center;
  /* background-color: red; */
}
#statBar{
  display: flex;
  background-color: var(--menuBackgroundColor);
  border-radius: 16px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  margin: auto;
}
#statBar p{
  padding-left: 5px;
  padding-right: 5px;
}
#typedText{
  color: var(--textCorrectColor);
}
#errorText{
  color: var(--textIncorrectColor);
}
#typedErrorText{
  color: var(--textCorrectedColor);
}

.spacer{
  flex:1;
}

.titleName {
  margin: auto;
  align-self: center;
  flex:1;
}

.menuBackground{
  flex: 1;
  
  margin: 10px;
  height: 60px;
  display: flex;
  margin-left: auto;
}
.menuBackground .profileContainer{
  display: flex;
  background: linear-gradient(90deg, var(--menuBackgroundColor) 60%, var(--backgroundColor));
  border-radius: 16px;
  flex-direction: row;
  margin:auto;
  justify-content: center;
  /* border: red solid 1px; */
  padding-right: 10px;
}
.menuBackground img{
  height: fit-content;
  /* padding: 100%; */
  
  text-align: center;
  justify-content: center;
}
.menuBackground .accountName{
  /* padding:i; */
  display: flex;
  /* border: red 1px solid; */
  align-items: center;
  padding: 5px;
  padding-right: 30px;
  padding-left: 15px;
}
.menuBackground button {
  width: 40px;
  aspect-ratio: 1;
  border: none;
  margin: 5px;
  padding: 5px;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
}
.menuBackground .loginButton{
  background-image: url("/public/login-icon.png");
}
.menuBackground .signUpButton{
  background-image: url("/public/register-icon.png");
}
.menuBackground button:hover{
  cursor:pointer;
}