:root{
  --backgroundColor: rgb(45, 45, 45);
  --menuBackgroundColor: #00000066;
  --textColor: rgb(131, 131, 131);
  --textColorDimmed: rgba(131,131,131,0.4);
  --textCorrectColor: rgb(196, 196, 196);
  --textIncorrectColor: rgb(187, 21, 21);
  --textCorrectedColor: rgb(190, 110, 4);
  --primaryColor:rgb(48, 110, 51);
  --secondaryColor: rgb(46, 134, 38);
  --selectedColor: rgb(1,1,1);
  background-color: var(--backgroundColor);
}

*{
  padding: 0px;
  margin: 0px;
  transition: 0.15s;
}
::selection{
  background-color: var(--menuBackgroundColor);
  color: var(--primaryColor);
}
::-webkit-selection{
  background-color: var(--menuBackgroundColor);
  color: var(--primaryColor);
}
h1{
  color:var(--textColor);
}
h2{
  color: var(--textColor);
}
h3{
  color: var(--textColor);
}
li{
  text-decoration: none;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--textColor);
}
a.active {
  color: var(--primaryColor);
}
p{
  /* background-color: black; */
  font-size: 16px;
  font-family:'Arial Narrow', Arial, sans-serif;
  color: var(--textColor);
  white-space-collapse: preserve-spaces;
}
button{
  color: var(--textColor);
  background-color: var(--menuBackgroundColor);
  width: fit-content;
  border: none;
  border-radius: 12px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
button:active{
  background-color: var(--primaryColor);
  color: black;
}
button:active:hover{
  background-color: var(--primaryColor);
  color: black;
}
button:hover{
  background-color: var(--selectedColor);
}
table{
  color:var(--textColor);
  background-color: var(--menuBackgroundColor);
  border-radius: 16px;
  padding:5px;
  margin: 10px;
}
table.recentLessonsTable{
  width: 600px;
}
tr.dimmed2{
  opacity: 0.8;
}
tr.dimmed3{
  opacity: 0.6;
}
tr.dimmed4{
  opacity: 0.4;
}
tr.dimmed5{
  opacity: 0.3;
}


.App{
  text-align: center;
  height:100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* border: solid red 1px; */
}
.title{
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 0px;
  color: var(--textColor);
  justify-content: space-between;
}
.navBarWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  /* border: solid red 1px; */
}
.navBarWrapper .navBar ul{
  display: flex;
  text-decoration: none;
}
.navBarWrapper .navBar li{
  padding: 5px;
}
.bodyContent{
  flex: 1;
}
.textBoxWrapper{
  padding: 10px;
}
.textBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height:30vh;
  max-width: 900px;
  letter-spacing: 2px;
  margin: 20px;

  /* selecting */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.textBox.notFocused{
  transition: 1s ease;
  filter:blur(8px);
}
.textBox p{
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.textBox p.notFocused{
  transition: 1s ease;
  color: var(--textColorDimmed);

}
.typingIndicatorOverlay{
  position:relative;
  display: flex;
  margin:auto;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.indicator {
  position: absolute;
  z-index: 0;
  font-size: 24px;
  padding: 5px;
  margin: auto;
  text-shadow: 10px 10px 40px black;
  transition: 1s ease-in;
}
.indicator.hidden{
  opacity: 0;
  visibility: hidden;
  transition: none;
}
.gameWrapper{
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
}
.statBarAreaWrapper{
  height: 50px;
  display: grid;
  align-items: center;
}
.statBarAreaWrapper .statBar{
  display: flex;
  background-color: var(--menuBackgroundColor);
  border-radius: 16px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  margin: auto;
}
.statBarAreaWrapper .statBar p{
  padding-left: 5px;
  padding-right: 5px;
  font-size: larger;
}
.statBarAreaWrapper .statBar .values{
  color:var(--primaryColor);
}
#typedText{
  color: var(--textCorrectColor);
}
#errorText{
  color: var(--textIncorrectColor);
}
#typedErrorText{
  color: var(--textCorrectedColor);
}

.spacer{
  flex:1;
}

.titleName {
  margin: auto;
  align-self: center;
  flex:1;
}

/* PROFILE CARD */
.menuBackground{
  flex: 1;
  margin: 10px;
  height: 60px;
  display: flex;
  margin-left: auto;
}
.menuBackground .profileContainer{
  display: flex;
  background: linear-gradient(90deg, var(--menuBackgroundColor) , var(--backgroundColor));
  border-radius: 16px;
  margin:auto;
  padding: 10px;
}
.menuBackground img{
  height: fit-content;
  text-align: center;
  justify-content: center;
}
.menuBackground .accountName{
  display: flex;
  align-items: center;
  padding: 5px;
  padding-right: 30px;
  padding-left: 15px;
}
.menuBackground .signInLogInWrapper{
  border-left: solid 2px;
}
.menuBackground button {
  width: 40px;
  padding: 10px;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  width: fit-content;
  border-radius: 20px;
  margin: auto;
  font-size: 16px;
}
.menuBackground .loginButton:hover{
  text-decoration: underline;
}
.menuBackground .signUpButton{
  background-color: black;
  transition: 2s;
}
.menuBackground .signUpButton:hover{
  background-color: white;
  color: black;
  transition: 400ms;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .title {
    flex-direction: column;
    align-items: center;
  }

  .titleName {
    margin: 10px 0;
  }
  .menuBackground {
    margin-left: 0;
  }
  .menuBackground .profileContainer{
    background: var(--menuBackgroundColor);
  }
}
/* PROFILE CARD END */

/* POP-UP FORM */
.popUpContainerOuter{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.popUpContainerOuter p{
  padding-bottom: 12px;
}
.popUpContainerOuter .popUpForm{
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  width: fit-content;
  height: fit-content;
  z-index: 2;
  border-radius: 16px;
}
.popUpContainerOuter .popUpForm input{
  color: var(--textColor);
  background-color: var(--menuBackgroundColor);
  border: black 1px solid;
  border-radius: 16px;
  padding: 8px;
  padding-left:10px;
  padding-right: 10px;
  margin: 10px;
}
.popUpContainerOuter .popUpForm input:focus{
  outline: none;
}
.popUpContainerOuter .popUpForm .googleSignInButton {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin: 10px;
}
.utilBarTypeGame{
  display: flex;
  justify-content: center;
  align-items: center;
}

.utilBarWrapper{
  margin-left: 10px;
  transition: 0.3s;
}
.utilBarWrapper button:hover{
  background-color: var(--selectedColor);
}
.utilBarWrapper .clearButton:active{
  background-color: var(--primaryColor);
  color: black;
  transition: 0.1s;
}
.utilBarWrapper button{
  border: none;
  background-color: var(--menuBackgroundColor);
  margin:2px;
  margin-left: 1px;
}
.utilBarWrapper button.selected{
  background-color: var(--primaryColor);
  color: black;
}
.userNameProfile{
  font-size: 52px;
}
.pageWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 100%;
  box-sizing: border-box;
}
.profilePage .joinDateProfile{
  font-size: 13px;
  font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--textColorDimmed);
}
.pageWrapper h1{
  text-shadow: 10px 10px 40px black;
}
.profileRow{
  display: flex;
  justify-content: center;
}
.statCardWrapper{
  padding: 15px;
  margin: 10px;
  border-radius: 30px;
  background-color: var(--menuBackgroundColor);
}

.leaderboardWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
  height: 100%;
}
.leaderboardWrapper .leaderboardDataTableWrapper{
  padding: 20px;
}
.leaderboardWrapper .leaderboardDataTableWrapper table{
  padding: 10px;
}
.leaderboardDataTableWrapper td{
  padding: 5px;
  margin: 5px;
}
.leaderboardWrapper .leaderboardDataTableWrapper thead tr th{
  padding-right: 15px;
  padding-left: 15px;
}
.pageIndicator{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
button.critical{
  color: red;
  padding: 8px;
  background-color: rgb(50, 0, 0);
}
button.critical:hover{
  color: red;
  padding: 8px;
  background-color: rgb(80, 0, 0);
}
p.warning{
  color: rgb(199, 0, 0);
  padding: 10px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 30px;
  /* border: red solid 1px; */
  /* overflow: none; */
}
.footer p{
  font-size: 16px;
}
.footer a{
  padding-right: 20px;
}
.footer a:last-child{
  padding-right: none;
}
.footer a .logoWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  color:inherit;
  transition: 0.5s;
}
.footer a .logoWrapper:hover{
  color: white;
  /* background-color: red; */
  transition: 0.5s;
  transform: translateY(-5px) scale(1.1);
  /* transform: scale(2); */
}
#githubFooterLogo{
  height: 20px;
  width: 20px;
  margin-right: 5px;
  /* border: red 1px solid; */
}